<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Spotify: Artists</title>
</head>
<body>
    <div id="search-artist">
        <form action="/artist-search" method="GET">
            <input type="text"  id='artistName' name="artistName" placeholder="Muse">
            <div class="centered">
            <button id="search-artist-btn" type="submit">Search for an Artist</button>
            </div>
        </form>
    </div>
</body>
</html>